.header {
        background-color: $black;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 75px;
   }
   
    &__navigation {
        display: none;
   }

    &__burger {
        background-color: transparent;
        border: none;
        margin: 0 34px 0 0;
    }

    &__controls-icon {
        margin: 0 34px 0 0;
    }

}

.controls {
    &__icon {
        margin: 0 34px 0 0;
    }

    &__search {
        background-color: transparent;
        border: none;
    }
    &__person {
        background-color: transparent;
        border: none;
        margin: 0 17px 0 0;
    }
    &__cart {
        background-color: transparent;
        border: none;
        margin: 0 0 0 17px;
    }
}
